.content:not(.custom) {
    max-width: 100%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
$sidebarWidth = 18rem
.theme-default-content:not(.custom) {
    max-width: 100%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
.page-edit, .page-nav{
  max-width: initial;
}
table{
  margin:auto;
}
.theme-default-content:not(.custom), .page-meta, .page-nav{
  padding-right:0!import;
}
:root {
  --back-to-top-z-index: 5;

  --back-to-top-color: #3eaf7c;
  --back-to-top-color-hover: #71cda3;
}
div[class~=language-docker]:before {
    content:"docker"
}